.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  position: relative;
  flex: 1;
  height: 31rem;
}

.formContainer {
  flex: 1;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: var(--bgSoft);
  color: var(--text);
}
.formContainer button {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
  background: var(--btn);
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .formContainer {
    width: 100%;
  }
}
